
.circle {
  position: absolute;
  min-width: 50px;
  min-height: 50px;
  display: inline-block;
  aspect-ratio: 1/1;
  cursor: pointer;
  border-radius: 50%;
}

.form {
  position: fixed;
  z-index: 10;
  left: 1em;
  bottom: 1em;
  width: 300px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.form > * {
  align-self: center;
}

#start {
  grid-column: 1 / span 2;
}

.circle:hover {
  opacity: 0.3;
  transition: opacity 1s;
}
