<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<form method="post" action="/">
    <label for="key">Key</label>
    <input type="text" name="key">
    <label for="value">Value</label>
    <input type="text" name="value">
    <input type="submit">
</form>
<table>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    <%for(const cookieKey of Object.keys(cookies)){ %>
        <tr>
            <td><%= cookieKey%></td>
            <td><%= cookies[cookieKey]%></td>
        </tr>
    <%}%>
</table>
</body>
</html>
