<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <link rel="stylesheet" href="css/<%= cssFile %>.css">
</head>
<body>
<form action="/result" method="post">
<label for="name">Name</label>
<input id="name" name="name" type="text">
<label for="age">Age</label>
<input id="age" name="age" type="text">
<input type="submit">
</form>
</body>
</html>
