<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ask 8 Ball</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
</head>
<body>
<form id="ask-form">
    <input type="text" id="question">
    <input type="submit" id="submit" value="Ask 8 Ball">
</form>
</body>
</html>
